body{
    margin: 0;
    padding: 0;
}
.text-center{
    text-align: center;
  }
.button{
    font-size: 20px;
    padding:15px 10px;
    margin: 0 5px;
    border: 2px solid black;
    border-radius:30px;
    cursor: pointer;
    width: 55px;
    text-align: center;
    color: white;
    font-weight: bold;
    
}
#btn0{
    width: 120px;
    text-align: left;
    padding:15px 20px;
}
.main-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    width: 300px;
    padding: 30px;
    background: rgb(3, 3, 3);
    border-radius: 30px;
}
.row{
    margin: 5px 0;
}
.row input{
    margin: 0;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    text-align: right;
    font-weight: bold;

}
.orange{
  background-color: rgb(235, 131, 11);
}
.grey{
   background-color: rgb(67, 62, 62);
}
.cement{
background: grey;
}